@import 'nib';
@import '_fonts';





//colors
golden = #CAAF77;


body
	display flex
	margin 0
	font-family Roboto
	min-width 900px
	// min-width 320px
	min-height  480px
	font-weight: 400
	font-size: 14px
	flex-direction: column;


*
	outline none
	&::-webkit-scrollbar
		width: 10px;
	&::-webkit-scrollbar:horizontal
		height 6px
	&::-webkit-scrollbar-track-piece
		background inherit
	&::-webkit-scrollbar-thumb
		border-radius 1.5px
		background-color: #c1c1c1
		cursor pointer