@import 'nib';
@import '_fonts';


//@media screen and (max-width 768px)

//@media screen and (min-width 768px) and (max-width 1200px)
//@media screen and (min-width 768px) and (max-width 1200px)

//@media screen and (min-width 1200px)


//colors
golden = #CAAF77;
dark-violet-blue = #3E5066

.scroll-box
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-width 20px
	&.left
		margin-right 20px
	&.right
		margin-left 20px
.scroll-box__top, .scroll-box__bottom
	width 20px
	height 10px
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	cursor pointer
	&:hover
		filter: brightness(0.5)
.scroll-box__top
	background-image url('../assets/images/arrow-top.svg')
.scroll-box__bottom
	transform rotate(180deg)
	background-image url('../assets/images/arrow-top.svg')
	



body
	display flex
	margin 0
	font-family Roboto
	font-style normal
	font-weight: 400
	font-size: 14px
	line-height: 16px;
	color: #000000;
	// min-width 900px
	min-width 320px
	min-height  480px
	flex-direction: column;
	@media screen and (max-width: 768px)
		font-size: 12px;
		line-height: 14px;


*
	outline none
	&::-webkit-scrollbar
		width: 10px;
	&::-webkit-scrollbar:horizontal
		height 6px
	&::-webkit-scrollbar-track-piece
		background inherit
	&::-webkit-scrollbar-thumb
		border-radius 1.5px
		background-color: #c1c1c1
		cursor pointer

a
	text-decoration: none
	color inherit


.section
	display: flex
	// &.min-top
	// 	.section-content
	// 		margin-top 0
		
.section-content
	// padding: 50px 180px 0 180px
	margin: 70px auto 0 auto;
	max-width: 1200px;
	display: flex;
	flex 1
	flex-direction: column;
	overflow hidden
	&.first
		margin-top 60px
		@media screen and (max-width: 768px)
			margin-top 30px
	&.big-bottom
		margin-bottom: 40px
	&.mini
		margin: 0 auto
	&.row
		flex-direction: row;
	@media screen and (min-width: 768px) and (max-width: 1200px)
		padding: 0 40px
	@media screen and (max-width: 768px)
		padding: 0 20px


.section__head
	padding-bottom 22px
	border-bottom: 1px solid #C4C4C4;
	display: flex;
	justify-content: space-between;
.section__head-title
	font-weight: 500;
	font-size: 32px;
	line-height: 37px;
	margin 0
	@media screen and (max-width: 768px)
		font-size: 18px;
		line-height: 21px;
	
.section__head-addition
	display flex
.head-addition-text
	font-size: 14px;
	line-height: 16px;
	text-align: right;
	margin auto 14px
	@media screen and (max-width: 768px)
		display none	
	&:first-child
		margin auto 14px auto 0
	&:last-child
		margin auto 0 auto 14px





.section.header
	height 120px
	@media screen and (max-width: 768px)
		height 60px
	@media screen and (min-width: 768px) and (max-width: 1200px)
		height 80px
	.section-content 
		margin-top 0
		flex-direction: row;
		overflow: visible;
.logo-box
	display flex
.logo
	width: 148px;
	height: 90px;
	margin 10px 13px 20px 28px
	background url('../assets/images/logo.png')
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	@media screen and (max-width: 1200px)
		width: 100px;
		height: 60px;
		margin 0
	
.logo-text
	display flex
	flex-direction column
	margin-top 48px
	@media screen and (max-width: 1200px)
		margin-top 25px
.logo-text--1
	font-family: Georgia;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 20px;
	@media screen and (max-width: 1200px)
		font-size: 12px;
		line-height: 14px;
.logo-text--2
	font-family: Georgia;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 27px;
	@media screen and (max-width: 768px)
		font-size: 16px;
		line-height: 18px;
.nav-menu
	display flex
	flex 1
	justify-content: flex-end;
	margin auto
	@media screen and (max-width 768px)
		display none
	&.mobile
		.nav-menu__elem-box
			margin-right 0
			&.with-drop-down-menu
				&:before
					display none
		.drop-down-menu
			width: 100%;
			min-width: 100vw;
			// right: -50px;
			background: #3E5066;
			color #FFFFFF
			.drop-down-menu__elem
				margin 10px 0
				white-space: nowrap;
				display flex
				&:first-child
					margin 0 0 10px 0
				&:last-child
					margin 10px 0 0 0
			.drop-down-menu__elem-text
				text-align: left;
				font-weight 400
		@media screen and (max-width 768px)
			display flex
		@media screen and (min-width 768px)
			display none
		
	// @media screen and (min-width 768px) and (max-width 1200px)
.nav-menu-icon--mobile
	height 14px
	width 18px
	background url('../assets/images/menu.svg')
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
.nav-menu__elem-box
	margin auto 31px auto 31px
	cursor pointer
	position relative
	// &:first-child
	// 	margin auto 31px auto 0
	// &:last-child
	// 	margin auto 0 auto 31px
	@media screen and (min-width 768px) and (max-width 1200px)
		margin auto 10px
	&:hover
		.n-m-elem-box__text
			font-weight 600
	&.with-drop-down-menu
		&:before
			content ''
			width: 14px;
			height: 7px;
			position: absolute;
			bottom: -9px;
			left 50%
			transform: translate(-50%,100%) rotate(180deg);
			background url('../assets/images/arrow-top.svg')
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;			
		.n-m-elem-box__text
			color: #929292;
			font-weight 500
		&.open
			@media screen and (max-width 768px)
				.nav-menu-icon--mobile
					width: 18px;
					height: 22px;
					background-image url('../assets/images/close.svg')
			&:after
				content ''
				position fixed
				height 100%
				width 100%
				top 0
				left 0
				z-index 10
			.drop-down-menu
				display block
				z-index 11
			&:before
				transform: translate(-50%,100%);
			
	
.n-m-elem-box__text
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	white-space: nowrap;
.drop-down-menu
	cursor: default;
	display none
	position: absolute;
	top 40px
	right: -20px;
	background: rgba(255, 255, 255, 0.9);
	min-width 316px
	padding 18px 20px
	box-sizing: border-box;
.drop-down-menu__elem
	cursor pointer
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	margin 20px 0 20px 0
	white-space: nowrap;
	display flex
	&:first-child
		margin 0 0 20px 0
	&:last-child
		margin 20px 0 0 0
	&:hover
		font-weight 600
.drop-down-menu__elem-text
	text-align: right;
	flex: 1;



.section.footer
	background dark-violet-blue
	.section-content
		@media screen and (max-width 768px)
			margin-top 15px
		
	.section__head-title
		font-family: Georgia;
		font-style: normal;
		font-weight: bold;
		font-size: 36px;
		line-height: 41px;
		text-align: center;
		color: #FFFFFF;
		margin auto
		@media screen and (max-width 768px)
			font-size: 18px;
			line-height: 20px;
	.section__head
		border none
	.main-menu-links
		display flex
		margin 54px auto 66px auto
		@media screen and (max-width 768px)
			flex-direction column
			margin 0
			flex 1
		.main-menu-links__elem
			font-weight: 500;
			font-size: 18px;
			line-height: 21px;
			color: #FFFFFF;
			margin 0 25px
			@media screen and (max-width 768px)
				font-size: 12px;
				line-height: 14px;
				margin 5px 0
			&:hover
				font-weight 600
	.extra-menu-links
		display flex
		padding 55px 0
		border-top 1px solid #C4C4C4
		border-bottom 1px solid #C4C4C4
		justify-content: space-between;
		@media screen and (max-width 768px)
			flex-direction column
			border none
			padding 0
			flex 1
		.extra-menu-links__elem
			font-weight: 500;
			font-size: 18px;
			line-height: 110%;
			color: #C4C4C4;
			@media screen and (max-width 768px)
				font-size: 12px;
				line-height: 14px;
				margin 5px 0
			&:hover
				font-weight 600
	.social-links
		margin 50px auto 70px auto
		display flex
		@media screen and (max-width 768px)
			flex-wrap: wrap;
			justify-content: center;
			max-width: 80vw;
			margin-bottom 20px
.social-links__elem
	height 32px
	width 32px
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin 0 12px
	display: block;
	&:hover
		filter: drop-shadow(2px 4px 4px black);
	&.telegram
		background-image url('../assets/images/socials/telegram.svg')
	&.vk
		background-image url('../assets/images/socials/vk.svg')
	&.instagram
		background-image url('../assets/images/socials/instagram.svg')
	&.twitter
		background-image url('../assets/images/socials/twitter.svg')
	&.facebook
		background-image url('../assets/images/socials/facebook.svg')
	&.ok
		background-image url('../assets/images/socials/ok.svg')
	&.youtube
		background-image url('../assets/images/socials/youtube.svg')
	&.viber
		background-image url('../assets/images/socials/viber.svg')
	&.whatsapp
		background-image url('../assets/images/socials/whatsapp.svg')
.footer__menu-box
	display: flex;
	flex-direction: column;
	@media screen and (max-width 768px)
		flex-direction row

.section.outstanding
	background dark-violet-blue
	color #BFBFC0
	.section-content
		@media screen and (max-width 1200px)
			margin-top 13px
			margin-bottom 20px
	.section__head
		border-bottom none
		position relative
		margin-bottom 40px
		@media screen and (max-width 1200px)
			margin-bottom 17px
			padding-bottom 7px
		&:before
			content ''
			position absolute
			width 107px
			background golden
			height 1px
			bottom: 0;
			left: 0;
	.section__head-title
		color: #FFFFFF;



.section.hero
	height: 350px;
	position relative
	@media screen and (max-width 768px)
		display none
	.section-content
		margin-top 0
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		display none
		&.open 
			display flex
.hero-info
	margin: auto 60% auto 56px;
	position relative
	min-width 400px
	padding 38px
	&:before
		content ''
		position absolute
		width 100%
		height 100%
		top 0
		left 0
		background: #2A3747;
		mix-blend-mode: multiply;
		opacity: 0.5;
.hero-info-text
	font-family: Georgia;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 41px;
	color: #FFFFFF;
	mix-blend-mode: color-dodge;
.hero-switch
	position: absolute;
	bottom: 10px;
	left 50%
	transform: translate(-50%,0%);
.hero-switch-elem
	width 10px
	height 10px
	border-radius 100%
	padding: 0;
	border: none;
	margin 0 10px
	background #FFFFFF
	opacity .5
	cursor pointer
	&:hover
		opacity 1
	&.selected
		opacity 1

.section.monuments-and-memorial-plaques
	@media screen and (max-width 768px)
		display none
.grid-images
	margin-top 50px
	display flex
	flex 1
	transform: translate(-10px,0);
	width: calc(100% + 20px);
	.grid-images__box
		display flex
		&.column
			flex-direction column
		&.big
			flex 1
			.grid-images__img
				width 100%
				height: calc(100% - 20px);	
	.grid-images__img
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		width: 280px;
		height: 280px;
		margin 10px
		position relative
		@media screen and (min-width 768px) and (max-width 1200px)
			width 180px
			height 180px		
		.grid-images__title
			display none
		&:hover
			.grid-images__title
				display flex
				position absolute
				width 100%
				bottom 0
				left 0
				.grid-images__title-text
					display -webkit-box
					
					mix-blend-mode: color-dodge;
					z-index 1
					margin auto 24px 25px 24px
					font-weight: 500;
					font-size: 18px;
					line-height: 21px;
					color: #FFFFFF;
					
					-webkit-line-clamp: 5;
					-webkit-box-orient: vertical;
					overflow: hidden;
					text-overflow: ellipsis;
					
					min-height 45px
					height: auto;
					max-height: 155px;
					
					padding: 25px 0 0 0;
					box-sizing: border-box;
				&:after
					content ''
					position absolute
					background: #3F3C47;
					mix-blend-mode: multiply;
					opacity: 0.5;
					height 100%
					width 100%
					bottom 0
					left 0


.section.organizations-people
	@media screen and (max-width 768px)
		display none
	.section-content
		@media screen and (min-width 768px) and (max-width 1200px)
			flex-direction column
			.section-two-bloks__block
				margin 70px 0 0 0
.section-two-bloks
	display flex
	flex-direction: row;
.section-two-bloks__block
	flex 1
	margin 0 10px
	display: flex;
	flex-direction: column;
	&:first-child
		margin 0 10px 0 0
	&:last-child
		margin 0 0 0 10px
.organizations-box
	flex 1
	margin-top 40px
	background: #F2F2F2;
	padding 23px 24px 33px 20px
	display: flex;
	flex-direction: column;
	justify-content: space-between;
.organizations-box__organization
	margin-top 40px
	display flex
	margin 30px 0 0 0
	&:first-child
		margin 0
.organization-info__title
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
.organization-info__text
	font-size: 14px;
	line-height: 16px;
	color: #929292;
	margin-top 15px
.organization__logo
	width: 90px;
	height: 90px;
	min-width: 90px;
	min-height: 90px;
	mix-blend-mode: darken;
	margin: auto 0 auto 27px;

	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;

.people-box
	flex 1
	background: #F2F2F2;
	display flex
	margin-top 40px
	padding 20px 40px 20px 32px
.people-box__texts
	display: flex;
	flex-direction: column;
	margin-right 40px
	font-size: 14px;
	line-height: 16px;
	color: #929292;
	.golden-bold
		font-weight: 500;
		color golden
.header-text-quote
	font-family: Georgia;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	color: #000000;
	padding-left 70px
	position relative
	margin-top 10px
	&:before
		content '“'
		position absolute
		left 0
		top 50%
		transform translate(0, 50%)
		color golden
		font-family: Georgia;
		font-style: normal;
		font-weight: bold;
		font-size: 96px;
		line-height: 20px;
.people-box__text-main
	padding 40px 0 20px 0
	margin auto 0
	
.people-box__photos, .chronicle-photos
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left 20px
	@media screen and (max-width 768px)
		display none
.chronicle-photos
	@media screen and (min-width 768px) and (max-width 1200px)
		display none
	
.people-box__photo
	width: 100px;
	height: 100px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius 50%
	margin 5px 0
	cursor pointer
	&:first-child
		margin 0 0 5px 0
	&:last-child
		margin 5px 0 0 0
	&.selected
		border: 2px solid #DAC290;




.chronicle-texts
	display: flex;
	flex-direction: column;
.chronicle-box
	display flex
	flex-direction: row;
.chronicle-photos__photo
	width: 480px;
	height: 312px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin 15px 0
	&:first-child
		margin 0 0 15px 0
	&:last-child
		margin 15px 0 0 0
.chronicle-line-box
	display flex
	flex 1
	margin-top 24px
	.scroll-box__top, .scroll-box__bottom
		&:hover
			filter: brightness(2)
.chronicle-lines
	display flex
	flex-direction column
	padding-bottom 24px
	position relative
	justify-content: space-between;
	&:before
		content ''
		width 2px
		height 100%
		position absolute
		background golden
		left 45px
		top 0
.chronicle-line
	display flex
	margin-top 24px 
.chronicle-line__year
	margin-right 40px
.chronicle-line__info
	display flex
	flex-direction column
.chronicle-line__info-title
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color #FFFFFF
	margin-bottom 13px
// .chronicle-line__info-text
	







.section.day-history
	.section-content
		overflow: visible;	

.day-history-box
	display flex
	@media screen and (max-width 1200px)
		flex-direction: column;
.day-history__left-block
	display flex
	flex 2
	position relative
	.scroll-box
		margin-top 80px
		margin-bottom 15px
		@media screen and (max-width 768px)
			position: absolute;
			height: calc(100% - 45px);
			top: -25px;
			left: 50%;
			transform: translate(-50%, 0);
			margin-left: 0;
	
.day-history__right-block
	flex 1
	margin-left 45px
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
	@media screen and (max-width 1200px)
		margin-left 0
.online-camera
	@media screen and (max-width 768px)
		display none
		
.day-history__data-box
	display flex
	.data-box__val
		margin-top 20px
		font-weight: 500;
		font-size: 24px;
		line-height: 28px;
		@media screen and (max-width 768px)
			font-size: 18px;
			line-height: 21px;
	.data-box__icon
		width 25px
		height 25px
		background url('../assets/images/calendar.svg')
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		margin: auto 0 1px 12px;
		cursor pointer
	

.day-history__info-box
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2)
	padding 43px 35px 0 35px
	display flex
	flex-direction column
	margin 30px 0
	&:first-child
		margin 15px 0 30px 0
	&:last-child
		margin 30px 0 15px 0
		
	.info-box__title
		font-weight: 500;
		font-size: 18px;
		line-height: 21px;
		cursor pointer
	.info-box__text
		font-size: 12px;
		line-height: 14px;
		margin 24px 0		
	.info-box__last-likes
		font-size: 12px;
		line-height: 14px;
		color: #929292;
		margin-bottom 18px
		position relative
		padding-left 44px
		&:before
			content ''
			position absolute
			height 18px
			width 18px
			left 30px
			top: 50%;
			transform: translate(-50%,-50%);
			background url('../assets/images/like.svg')
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;		
	.info-box__communicatios
		margin 0 0 18px 0
		padding-top 18px
		border-top: 1px solid #E5E5E5;
		display flex
		justify-content: space-between;		
		.info-box-communications__elem
			font-size: 12px;
			line-height: 14px;
			color: #929292;
			cursor pointer
			padding-left 44px
			position relative
			@media screen and (max-width 768px)
				max-width: 10px;
				overflow: hidden;
				color: transparent;
			&:before
				content ''
				position absolute
				height 17px
				width 17px
				left 30px
				top: 50%;
				transform: translate(-50%,-50%);
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
			&:hover
				color: #2f80ed;
				@media screen and (max-width 768px)
					color transparent
				&:before
					filter: drop-shadow(0px 0px 1px #2f80ed);
			&.like
				&:before
					background-image url('../assets/images/heart.svg')
			&.comment
				&:before
					background-image url('../assets/images/comment.svg')
			&.share
				&:before
					background-image url('../assets/images/arrow-forvard.svg')


.day-history__section-label
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
	padding-left 44px
	position relative
	margin 25px 0 7px 0
	&:before
		content ''
		position absolute
		height 17px
		width 17px
		left 30px
		top: 50%;
		transform: translate(-50%,-50%);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		background-image url('../assets/images/day-history__section-label.svg')

.online-camera-box
	height: 265px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;


.magazine-elem
	margin 0 0 20px 0
	&:last-child
		margin 0
.day-history__magazine
	flex 1
	background: #F2F2F2;
	padding 13px 20px
	font-size: 12px;
	line-height: 14px;
.magazine-elem__people-info
	display flex
.magazine-elem-people-info__photo
	height 25px
	width 25px
	border: 0.5px solid #929292;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
.magazine-elem-people-info__name
	font-weight: 500;
	margin: auto 0 auto 5px
.magazine-elem-people-info__data
	color: #929292;
	margin auto 0 auto 5px
.magazine-elem__text
	margin 10px 0
.magazine-elem__tag
	font-weight 500
	



.section.video-gallery
	@media screen and (max-width 768px)
		display none
	.section-content
		margin-top 60px
		margin-bottom 70px
		flex-direction: row;
.video-gallery__video
	flex 3
	min-height: 360px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
.video-gallery__info-box
	padding 40px
	flex 2
	margin-left 20px
	background: #F2F2F2;
.video-gallery__info-box-title
	font-weight: 500;
	font-size: 32px;
	line-height: 37px;
	margin-bottom 30px
.video-gallery__info-box-text
	font-size: 14px;
	line-height: 16px;
	color: #929292;
	margin-bottom 50px

.button
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	padding 12px 30px
	cursor pointer
	border: 2px solid golden;
	box-sizing: border-box;
	background: transparent;
	&:hover
		background golden
		color #FFFFFF



.page-level-2-box
	p
		font-size: 18px;
		line-height: 29px;
		margin 30px 0
		@media screen and (max-width 768px)
			font-size: 14px;
			line-height: 20px;



.tell-friends
	display flex
	margin: 0 0 40px auto;
.tell-friends__text
	margin auto 8px auto 0
	font-size: 14px;
	line-height: 16px;
	color: #727272;
.tell-friends__icons
	display flex
	.social-links__elem
		margin auto 5px
		width 20px
		height 20px
		&.vk
			background-image url('../assets/images/socials/vk-2.svg')
		&.instagram
			background-image url('../assets/images/socials/instagram-2.svg')
		&.facebook
			background-image url('../assets/images/socials/facebook-2.svg')
		&:hover
			filter: drop-shadow(0px 0px 1px #3e5066);
.go-top-icon
	margin auto 0 auto 40px
	width 25px
	height 25px
	background-image url('../assets/images/go-top.svg')
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	cursor pointer
	&:hover
		filter: drop-shadow(0px 0px 1px #3e5066);


.walk-street-imges-box
	display flex
	transform: translate(-10px,0);
	width: calc(100% + 20px);
	flex-wrap: wrap;
	margin-top 30px
	margin-bottom: 30px;
.walk-street-img-box
	box-sizing: border-box;
	width: 20%;
	padding: 15px 10px;
	display flex
	flex-direction column
	@media screen and (max-width 768px)
		width 50%
	@media screen and (min-width 768px) and (max-width 1200px)
		width 33%
.walk-street-img-box__title
	font-size: 18px;
	line-height: 21px;
	margin 10px auto 0 auto
	@media screen and (max-width 768px)
		font-size: 14px;
		line-height: 16px;
.walk-street-img-box__img
	width: 100%;
	height: 140px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	@media screen and (max-width 768px)
		height 110px